 .contact{
    padding: 80px 0;
 }

 .contact h1{
    font-size: 2rem;
    margin-top: 30px;
 }

 .contact .left{
    padding-right: 100px;
 }

 .details{
    margin-top: 50px;
 }

 .name{
   display: flex;
   flex-direction: column;
 }

 .details .name div{
    margin: 8px 0;
    padding: 10px 10px;
   
 }

 .details .name h2{
    color: #FDFFFF;
    margin-bottom: 8px;
 }

 .details .name .bland{
   color: #0F1B07;
 }

 .contact-me{
   margin-top: 25px;
   color: #FFF;
 }

 .details .bland a{
   text-decoration: underline;
   color: #265C00;
 }