.home{
    height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;
}

.home h1{
    font-size: 6rem;
    margin-top: 45%;
    margin-bottom: 10px;
    color: #FDFFFF;
    animation: name-enter 500ms;
}

.home h3{
    font-size: 1.2em;
    color: #FDFFFF;
    animation: info-enter 700ms backwards;
}


.home img{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    clip-path: polygon(28% 0,100% 0, 100% 50%, 
    100% 100%,26% 100%,0 50%);
    object-fit: cover;
}


@keyframes name-enter{
    from{
        transform: translateX(-100vw);
    }
}
@keyframes info-enter{
    from{
        transform: translateX(100vw);
    }
}



