.grid{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 30px;
}

.portfolio{
    position: relative; 
    color: #FDFFFF;
}

.title{
    font-size: 30px;
    margin-top: 30px;
}

.portfolio img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.portfolio .box{
    position: relative;
}

.portfolio .overlay h1{
    margin: 0;
    font-size: 20px;
}
.portfolio .overlay h1 a{ 
    color: #0F1B07;
}

.portfolio .overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(255,255,255,0.75);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.portfolio .box:hover .overlay{
    opacity: 1;
}

.baget.baget-new{
    color: #0F1B07;
    background-color:#FDFFFF;
}

.app-info{
    color: #0F1B07;
}



