.row{
    width: 50%;
}

.skill{
    padding: 5% 0;
    background-color: #fff; 
}

.skill .left{
    padding-right: 50px;
}

.skills-list{
    position: relative;
    margin: 40px 0 ;
    height: 5px;
}

.skills-list h4{
    position: absolute;
    color: #0e2841;
    top: -30px;
    font-size: 25px;
    font-weight: 500;
}

.right{
    padding: 25px;
}

.skill h1{
    color: #0e2841;
    margin-top: 25px;
}



